<a href="https://colab.research.google.com/github/karunamayi06/CODSOFT/blob/main/adverstising.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import streamlit as st
import pandas as pd
from sklearn.linear_model import LinearRegression

st.title("Sales Prediction!!!")
st.write("Give the input values on the side slider to get your predictions")

@st.cache_data
def load_data():
    df = pd.read_csv(r"C:\Users\ASUS VivoBook 15\Desktop\archive (13)\advertising.csv")
    return df

df = load_data()
model = LinearRegression()
model.fit(df[['TV', 'Radio', 'Newspaper']], df['Sales'])

st.sidebar.title("Input Features")
TV = st.sidebar.slider("TV", float(df['TV'].min()), float(df['TV'].max()))
Radio = st.sidebar.slider("Radio", float(df['Radio'].min()), float(df['Radio'].max()))
Newspaper = st.sidebar.slider("Newspaper", float(df['Newspaper'].min()), float(df['Newspaper'].max()))

input_data = [[TV, Radio, Newspaper]]
prediction = model.predict(input_data)

st.write("Prediction")
st.write(f"The predicted sales are: {prediction[0]:.2f}")

In [8]:
df.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64